<div id="clientes">
    <h1>Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th name="email" >Email</th>
            </tr>
        </thead>
        <tbody id="tabclientes">

            @for (cliente of clientes; track $index) {
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.name.firstname}} {{cliente.name.lastname}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
            }@empty() {
                Loading...
            }
            <!--
            <tr>
                <td>1</td>
                <td>claudionilton Júnior</td>
                <td name="email">claudioniltonangular.com.br</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Felipe </td>
                <td name="email">felipeangular.com.br</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Carlos</td>
                <td name="email">carlosangular.com.br</td>
            </tr>
            -->
        </tbody>
    </table>
</div>